<div class="cards">
    <!-- CONTEÚDO VISÍVEL NO SITE -->
    <div class="row row-cols-lg-3"> 
        <!-- 
            ##################### 
            Editar a partir daqui 
            ##################### 
        --> 

        <!-- Início do Card -->
        <div class="col">
            <div class="card rounded-0 h-100" style="width: 18rem;">
                <small>boardgame</small> <!-- Título em cinza -->

                <!-- Utilize imagens com proporção de 286x280 px -->
                <img class="card-img-top" src="./res/imgs/catalog/dungeons-and-dragons.png" alt="dungeons-and-dragons">

                <div class="card-body">
                    <h3 class="card-text item-title"> <!-- Nome principal do produto -->
                        Boardgame Dungeons&Dragons Castleravenloft
                    </h3>
                    <div class="description"> <!-- Descrições do item -->
                        <p class="card-text">
                            <span class="fw-bolder">Marca:</span> Magos da Costa 
                        </p>
                        <p class="card-text">
                            <span class="fw-bolder">Duração:</span> 120+ min 
                        </p>
                        <p class="card-text">
                            <span class="fw-bolder">Pessoas:</span> 1 a 5 
                        </p>
                        <p class="card-text">
                            <span class="fw-bolder">Descrição:</span> 
                            O mal espreita nas torres e masmorras do Castelo Ravenloft™, 
                            e apenas heróis de bravura excepcional podem sobreviver aos horrores internos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim do Card -->

        <!-- Início do Card -->
        <div class="col">
            <div class="card rounded-0 h-100" style="width: 18rem;">
                <small>Boardgame</small> <!-- Título em cinza -->

                <!-- Utilize imagens com proporção de 286x280 px -->
                <img class="card-img-top" src="./res/imgs/catalog/boardgame-mansion.png" alt="boardgame-mansion">

                <div class="card-body">
                    <h3 class="card-text item-title"> <!-- Nome principal do produto -->
                        Boardgame Mansions of madness 
                    </h3>
                    <div class="description"> <!-- Descrições do item -->
                        <p class="card-text">
                            <span class="fw-bolder">Marca:</span> Galápagos 
                        </p>
                        <p class="card-text">
                            <span class="fw-bolder">Duração:</span> 120+ min 
                        </p>
                        <p class="card-text">
                            <span class="fw-bolder">Pessoas:</span> 1 a 5 
                        </p>
                        <p class="card-text">
                            <span class="fw-bolder">Descrição:</span> 
                            Explore lugares enquanto o perigo e a loucura espreitam de perto 
                            neste jogo ambientado no universo de horror e mistério de H.P Lovecraft
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim do Card -->

        <!-- Início do Card -->
        <div class="col">
            <div class="card rounded-0 h-100" style="width: 18rem;">
                <small>Action Figure</small> <!-- Título em cinza -->

                <!-- Utilize imagens com proporção de 286x280 px -->
                <img class="card-img-top" src="./res/imgs/catalog/geralt.png" alt="geralt">

                <div class="card-body">
                    <h3 class="card-text item-title"> <!-- Nome principal do produto -->
                        Action figure Geralt de Rívia 
                    </h3>
                    <div class="description"> <!-- Descrições do item -->
                        <p class="card-text">
                            <span class="fw-bolder">Marca:</span> Dark Horse Deluxe 
                        </p>
                        <p class="card-text">
                            <span class="fw-bolder">Material:</span> Cloreto de polivinilo 
                        </p>
                        <p class="card-text">
                            <span class="fw-bolder">Tamanho:</span> 26 centímetros
                        </p>
                        <p class="card-text">
                            <span class="fw-bolder">Personagem do jogo:</span> THE WITCHER 3: WILD HUNT
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim do Card -->

        <!-- Início do Card -->
        <div class="col">
            <div class="card rounded-0 h-100" style="width: 18rem;">
                <small>Action Figure</small> <!-- Título em cinza -->

                <!-- Utilize imagens com proporção de 286x280 px -->
                <img class="card-img-top" src="./res/imgs/catalog/johnny_silverhand.png" alt="johnny_silverhand">

                <div class="card-body">
                    <h3 class="card-text item-title"> <!-- Nome principal do produto -->
                        Action figure Johnny Silverhand
                    </h3>
                    <div class="description"> <!-- Descrições do item -->
                        <p class="card-text">
                            <span class="fw-bolder">Marca:</span> Dark Horse Deluxe 
                        </p>
                        <p class="card-text">
                            <span class="fw-bolder">Material:</span> PVC 
                        </p>
                        <p class="card-text">
                            <span class="fw-bolder">Tamanho:</span> 26 centímetros
                        </p>
                        <p class="card-text">
                            <span class="fw-bolder">Personagem do jogo:</span> Cyberpunk 2077
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim do Card -->

        <!-- Início do Card -->
        <div class="col">
            <div class="card rounded-0 h-100" style="width: 18rem;">
                <small>XÍCARAS</small> <!-- Título em cinza -->

                <!-- Utilize imagens com proporção de 286x280 px -->
                <img class="card-img-top" src="./res/imgs/catalog/caneca-groot.png" alt="Card image cap">

                <div class="card-body">
                    <h3 class="card-text item-title"> <!-- Nome principal do produto -->
                        Caneca 3D baby groot marvel 
                    </h3>
                    <div class="description"> <!-- Descrições do item -->
                        <p class="card-text">
                            <span class="fw-bolder">Marca:</span> Marvel 
                        </p>
                        <p class="card-text">
                            <span class="fw-bolder">Material:</span> Cerâmica 
                        </p>
                        <p class="card-text">
                            <span class="fw-bolder">Volume:</span> 350ml 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim do Card -->

        <!-- Início do Card -->
        <div class="col">
            <div class="card rounded-0 h-100" style="width: 18rem;">
                <small>Boardgame</small> <!-- Título em cinza -->

                <!-- Utilize imagens com proporção de 286x280 px -->
                <img class="card-img-top" src="./res/imgs/catalog/jogo_da_vida.png" alt="Jogo_da_vida">

                <div class="card-body">
                    <h3 class="card-text item-title"> <!-- Nome principal do produto -->
                        Tabuleiro Jogo da Vida
                    </h3>
                    <div class="description"> <!-- Descrições do item -->
                        <p class="card-text">
                            <span class="fw-bolder">Marca:</span> ESTRELA 
                        </p>
                        <p class="card-text">
                            <span class="fw-bolder">Duração:</span> 90+ min 
                        </p>
                        <p class="card-text">
                            <span class="fw-bolder">Pessoas:</span> 2 a 8
                        </p>
                        <p class="card-text">
                            <span class="fw-bolder">Descrição:</span> 
                            A mesma diversão só que com novas profissões e situações!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim do Card -->

        <!-- 
            #############
            Fim da edição 
            #############
        --> 
    </div>

    <%- include('morecards') -%>
</div>