
<!-- CATÁLOGO INVISÍVEL NO SITE (VER MAIS) -->
<div class="collapse" id="collapse">
    <div class="row row-cols-lg-3"> 
        <!-- 
            ##################### 
            Editar a partir daqui 
            ##################### 
        --> 

        <!-- Início do Card -->
        <div class="col">
            <div class="card rounded-0 h-100" style="width: 18rem;">
                <small>Action Figure</small> <!-- Título em cinza -->

                <!-- Utilize imagens com proporção de 286x280 px -->
                <img class="card-img-top" src="./res/imgs/catalog/tokyo_revengers.png" alt="tokyo_revengers">

                <div class="card-body">
                    <h3 class="card-text item-title"> <!-- Nome principal do produto -->
                        Action figure Tokyo Revengers
                    </h3>
                    <div class="description"> <!-- Descrições do item -->
                        <p class="card-text">
                            <span class="fw-bolder">Marca:</span> Dark Horse Deluxe 
                        </p>
                        <p class="card-text">
                            <span class="fw-bolder">Material:</span> Cloreto de polivinilo 
                        </p>
                        <p class="card-text">
                            <span class="fw-bolder">Tamanho:</span> 18 centímetros
                        </p>
                        <p class="card-text">
                            <span class="fw-bolder">Personagem do anime:</span> Tokyo Revengers
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim do Card -->

        <!-- Início do Card -->
        <div class="col">
            <div class="card rounded-0 h-100" style="width: 18rem;">
                <small>Action Figure</small> <!-- Título em cinza -->

                <!-- Utilize imagens com proporção de 286x280 px -->
                <img class="card-img-top" src="./res/imgs/catalog/robin.png" alt="robin_dc">

                <div class="card-body">
                    <h3 class="card-text item-title"> <!-- Nome principal do produto -->
                        Action Figure Robin
                    </h3>
                    <p class="card-text">
                        <span class="fw-bolder">Marca:</span> Dark Horse Deluxe 
                    </p>
                    <p class="card-text">
                        <span class="fw-bolder">Material:</span> Cloreto de polivinilo 
                    </p>
                    <p class="card-text">
                        <span class="fw-bolder">Tamanho:</span> 26 centímetros
                    </p>
                    <p class="card-text">
                        <span class="fw-bolder">Personagem do jogo:</span> Arkham Knight
                    </p>
                </div>
            </div>
        </div>
        <!-- Fim do Card -->

        <!-- 
            #############
            Fim da edição 
            #############
        --> 

    </div> 
</div>