        <footer>
            <div class="container">
                <div class="row">
                    <div class="footer-item col-8 col-sm-8 col-md-4">
                        <address>
                            <a href="tel:22997719547">+55 (22) 99771-9547</a> <br>
                            <a href="mailto:pedropugian@consultoriafocus.com"> pedropugian@consul<br> toriafocus.com</a> <br>
                            <a href="https://goo.gl/maps/uT91sHwfywhPSKHU7"target="_blank">
                                R. Resende, 470 - Jardim Mariléa - Rio das Ostras -<br> 
                                Rio de janeiro
                            </a>
                        </address>
                    </div>
                    <div class="footer-item col-md-4 col-xs-4 d-none d-sm-none d-md-block">
                        <a href="/" id="branding" class="navbar-brand mr-auto">
                            <img src="./res/imgs/logo-cianerd-branca.png" alt="logo">
                        </a>
                    </div>
                    <div class="footer-item col-4 ">
                        <h4>Nossas Redes</h4>
                        <div class="social">
                            <a href="#">
                                <img src="./res/imgs/icons/facebook.png" alt="Ícone do facebook">
                            </a>
                            <a href="#">
                                <img src="./res/imgs/icons/instagram.png" alt="Ícone do instagram">
                            </a>
                            <a href="#">
                                <img src="./res/imgs/icons/twitter.png" alt="Ícone do twitter">
                            </a>
                            <a href="https://wa.me/5522997719547" target="_blank">
                                <img src="./res/imgs/icons/whatsapp.png" alt="Ícone do whatsapp">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
