<header>
    <div id="carouselHeader" class="carousel slide" data-bs-ride="carousel" >
      <div class="carousel-indicators">

         <!-- 
            ###############################
            Editar os botões a partir daqui
            ###############################
        --> 

        <!-- Botão do item 1 -->
        <button type="button" data-bs-target="#carouselHeader" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>

        <!-- Botão do item 2 -->
        <button type="button" data-bs-target="#carouselHeader" data-bs-slide-to="1" aria-label="Slide 2"></button>

        <!-- Botão do item 3 -->
        <button type="button" data-bs-target="#carouselHeader" data-bs-slide-to="2" aria-label="Slide 3"></button>

        <!-- Botão do item 4 -->
        <button type="button" data-bs-target="#carouselHeader" data-bs-slide-to="3" aria-label="Slide 4"></button>

        <!-- Botão do item 5 -->
        <button type="button" data-bs-target="#carouselHeader" data-bs-slide-to="4" aria-label="Slide 5"></button>

         <!-- 
            #############
            Fim da edição 
            #############
        --> 
      </div>
        <div class="carousel-inner">

          <!-- 
            ###############################
            Editar os itens a partir daqui
            ###############################
          --> 

          <!-- Início do item 1 -->
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="./res/imgs/carousel/fachada.png" class="d-block w-100" alt="fachada">
          </div>
          <!-- Fim do item 1 -->

          <!-- Início do item 2 -->
          <div class="carousel-item" data-bs-interval="3000">
            <img src="./res/imgs/carousel/DeD.png" class="d-block w-100" alt="Dungeons-and-Dragons">
          </div>
          <!-- Fim do item 2 -->
          
          <!-- Início do item 2 -->
          <div class="carousel-item" data-bs-interval="3000">
            <img src="./res/imgs/carousel/ActionFigures.png" class="d-block w-100" alt="Action figures">
          </div>
          <!-- Fim do item 2 -->

          <!-- Início do item 3 -->
          <div class="carousel-item" data-bs-interval="3000">
            <img src="./res/imgs/carousel/JogoDaVida.png" class="d-block w-100" alt="Jogo da vida">
          </div>
          <!-- Fim do item 3 -->

          <!-- Início do item 4 -->
          <div class="carousel-item" data-bs-interval="3000">
            <img src="./res/imgs/carousel/WAR.png" class="d-block w-100" alt="War">
          </div>
          <!-- Fim do item 4 -->

        </div>

        <!-- 
            #############
            Fim da edição 
            #############
        --> 
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselHeader" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselHeader" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</header>