<!--Mecanismo do icone do whatsapp-->
<div id="div_fixa" class="flutuar" data-shrink="yes">
    <!--colocar o link do whatsapp do cliente-->
    <a class="whatsapp-link" href="https://api.whatsapp.com/send?phone=5522997719547" target="_blank">
        <i class="fa fa-whatsapp"></i>
    </a>
</div>
